html{
   background: #e3e3e3; 
}


body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #242424;
    background: #fbfdfe;
}

h1{
    font-size: 3em;
    margin: 0;
}
h2{
    font-size: 2em;
    padding: 20px;
}
p{
    line-height: 1.4em;

}
#blog{
    display: flex;
    flex-direction: column;
    border-top: 1px dotted #ccc;

}

.blog-post{
    border-bottom: 1px dotted #ccc;
    
}

.blog-image{

    border-radius: 50px;
    width: 400px;
    height: 300px;
}

article{
    background: #ecf3f8;
    padding: 20px;
    margin: 20px;
    border-radius: 50px;
}

header{
    position: sticky;
}
