html{
   background: #e3e3e3; 
}


body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #242424;
    background: #fbfdfe;
}

h1{
    font-size: 3em;
    margin: 0;
}
h2{
    font-size: 2em;
    margin: 20px;
    padding: 20px;
}
h3{
    
    background: #d8e7e6;
    padding: 10px;
    border-bottom: 5px solid#7e7c7c; 
    border-radius: 10px;
}
p{
    line-height: 1.4em;

}
#blog{
    display: flex;
    flex-direction: column;
    border-top: 1px dotted #ccc;

}
#gallery{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.blog-post{
    border-bottom: 1px dotted #ccc;
    
}

.blog-image{

    border-radius: 50px;
    width: 400px;
    height: 300px;
}

article{
    background: #ecf3f8;
    padding: 20px;
    margin: 20px;
    border-radius: 50px;
    border-bottom: 5px solid#7e7c7c; 
}


.main-header
{
    background: #f0f2f5;
    position:-webkit-sticky; 
    position:sticky; 
    top:0;
    border-radius: 50px;
}

.gallery-image{
    border-radius: 50px;
    
}

article:nth-oftype(1){
    flex: 33%
}

article:nth-oftype(2){
    flex: 66%

}

article:nth-oftype(3){
    flex: 33%
}